*{
	padding:0px;
	margin:0px;
}
/* starting of header */
#header{
	width:100%;
	height:100px;
	background:rgba(0,0,0,0.7);
}
#logo{
	height:100%;
	width:100px;
	float:left;
	box-sizing:border-box;
}
#logo img{
	height:100%;
	width:100%;
}
#navbar{
	float:left;
	padding-top:20px;
	padding-left:300px;
	box-sizing:border-box;
}
#navbar ul{
	
}
#navbar ul li{
	display:inline-block;
	padding:10px 15px;
}
#navbar ul li:hover{
	background:rgba(0,255,0,0.7);
}
#navbar ul li a{
	text-decoration:none;
	color:rgba(255,255,255,1);
}
#searchbar{
	float:left;
	box-sizing:border-box;
	padding-top:30px;
	padding-left:300px;
}
#searchbar input{
	height:30px;
	width:200px;
	border-radius:5px;
}
/* ending of header */

/* starting of gallery */
#gallery{
	height:500px;
	width:100%;
}
#gallery img{
	height:100%;
	width:100%;
	position:relative;
	opacity:0.6;
}
#gallery h1,button{
	position:absolute;
	z-index:1;
}
#gallery h1{
	left:38%;
	top:300px;
	font-size:50px;
	text-shadow:5px 5px 5px white;
}
#gallery button{
	top:400px;
	left:43%;
	height:40px;
	width:200px;
	font-size:20px;
	border-radius:10px;
	background:rgba(0,100,200,1);
	box-shadow:5px 5px 5px gray;
	color:white;
	border:0px solid white;
}
#gallery button:hover{
	cursor:pointer;
	background:rgba(100,200,0,1);
	box-shadow:5px 5px 5px yellow;
}
/* ending of gallery */

/* starting of course-title,staff-title,enquiry-title */
#course-title,#staff-title,#enquiry-title{
	width:100%;
	height:100px;
	box-sizing:border-box;
}
#course-title h1,#staff-title h1,#enquiry-title{
	text-align:center;
	color:rgba(0,100,200,1);
	padding-top:15px;
	text-shadow:5px 5px 5px pink;
}
/* ending of course-title,staff title,enquiry title */

/* staring of course description */
#course-desc{
	width:100%;
	height:300px;
}
#course-desc .course{
	width:200px;
	height:250px;
	float:left;
	margin-left:12%;
	box-sizing:border-box;
	border-radius:50px 25px;
}
#course-desc .course:hover{
	box-shadow:10px 10px 10px orange;
	margin-left:11.9%;
}
#course-desc .course img{
	height:100%;
	width:100%;
	position:relative;
	opacity:0.5;
	border-radius:50px 25px;
}
#course-desc .course h1{
	position:absolute;
	z-index:1;
	padding-left:7%;
	padding-top:7%;
	color:rgba(0,100,200,1);
	text-shadow:5px 5px 5px yellow;
}
/* ending of course description */

/* starting of staff-details */
#staff-details{
	width:100%;
	height:300px;
}
.staff{
	height:250px;
	width:200px;
	float:left;
	margin-left:12%;
	border:1px solid gray;
	border-radius:10px;
	transition:5s;
	box-shadow:10px 10px 10px pink;
}
.staff img{
	height:60%;
	width:100%;
	border-radius:10px;
	
}
.staff h1{
	text-align:center;
	padding-top:20px;
	color:rgba(0,100,200,1);
	text-shadow:5px 5px 5px yellow;
}
.staff:hover{
	transform:rotateY(360deg);
}
/* ending of staff details */

/* starting of enquiry */
#enquiry{
	width:100%;
	height:300px;
	box-sizing:border-box;
}
#enquiry img{
	height:100%;
	width:100%;
	position:relative;
}
#enquiry #enquiry-form{
	height:200px;
	width:300px;
	position:absolute;
	z-index:1;
	margin-left:35%;
	margin-top:3%;
	background:rgba(255,255,255,0.7);
	border-radius:10px;
}
#enquiry-form input{
	height:30px;
	border-radius:10px;
}
#enquiry-form textarea{
	height:50px;
	border-radius:10px;
}
#enquiry-form #sbmt-btn{
	top:400px;
	left:43%;
	height:40px;
	width:150px;
	font-size:20px;
	border-radius:10px;
	background:rgba(0,100,200,1);
	box-shadow:5px 5px 5px gray;
	color:white;
	border:0px solid white;
}

/* ending of enquiry */